body {
    background-color: #f3eae3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
}

.container {
    height: 450px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
    width: 600px;
    background-color: hsl(0, 0%, 100%);
}

.img-principal {
    width: 300px;
    padding: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
}

.perfume {
    font-family: "Montserrat";
    color: hsla(228, 12%, 48%, 0.719);
    font-size: 20px;
    display: flex;
    padding: 0px;
    padding-left: 30px;
    font-weight: 400;
}


.card {
    padding-top: 10px;
    font-size: 20px;
    color: hsla(228, 12%, 48%, 0.719);
    font-family: "Montserrat";
    font-weight: 300;
}



button {
    text-decoration: none;
    background-color: hsl(158, 36%, 37%);
    border: 0;
    width: 55%;
    font-size: 14px;
    font-family: "Montserrat";
    color: aliceblue;
    font-weight: 800;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    height: 50px;
    
}

.img-secundaria {
    display: none;
}

.bi.bi-cart {
    display: flex;
    
    color: white;
    font-size: 24px;

}

button:hover {
    background-color: hsl(158, 37%, 29%);
}


.comprar{
    height: 70vh;
}
.preco-card{
    
    font-size: 30px;
    font-weight: 600;
    color: hsl(158, 37%, 29%);;
}
.preco-card span{
    font-weight: 400;
    font-size: 20px;
    text-decoration: line-through;
    color: rgb(102, 97, 97);
}

.texto-central{
    font-size: 30px;
    font-weight: 600;
}
@media(max-width: 1000px) {

.img-secundaria {
    top: 160px;
    left: 20%;
    position: absolute;
    display: block;
    width: 65%;
}
.card{
    font-size: 15px;
}

.img-principal{
    display: none;
}
.container{
    padding-top: 40%;
    width: 95%;
    
}
.bi.bi-cart{
    font-size: 15px;
}
button{
    font-size: 10px;
    height: 40px;
}
}
.container-produtos{
    position: relative;
    left: 20%;
    
}